@font-face {
    src: url(~@/assets/fonts/static/Spartan-Light.ttf);
    font-family: spartan-Light;    
}

@font-face {
    font-family: spartan-regular;
    src: url(~@/assets/fonts/static/Spartan-Regular.ttf);
}
@font-face {
    src: url(~@/assets/fonts/static/Spartan-Bold.ttf);
    font-family: spartan-bold;    
}

@font-face {
    font-family: spartan-semibold;
    src: url(~@/assets/fonts/static/Spartan-SemiBold.ttf);
}